.fancy {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: var(--primary-color);
  top: 50%;
  left: 1.5em;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: background 0.3s linear, width 0.3s linear;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .textt {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  color: var(--primary-color);
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  -webkit-transition: width 0.5s ease-out, left 0.3s ease-out;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  -webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  -webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: var(--white);
  background: var(--primary-color);
}

.fancy:hover::before {
  width: 0.9375rem;
  background: var(--white);
}

.fancy:hover .textt {
  color: var(--white);
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

.Price-logo {
  box-sizing: border-box;
  color: var(--gradient);
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  width: 55px;
  height: 55px;
  font-style: italic;
  font-weight: 400;
  line-height: 28px;
  overflow-wrap: break-word;
  text-transform: capitalize;
  color: #fff;
}

.price {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  text-transform: capitalize;
}

.month-price {
  bottom: 2.4px;
  box-sizing: border-box;
  color: var(--gradient);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
  overflow-wrap: break-word;
  padding-left: 5px;
}

.price-haeding {
  color: var(--var(--black));
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.ul-tag > li {
  box-sizing: border-box;
  color: rgb(68, 68, 68);
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 10px;
  overflow-wrap: break-word;
}
