.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container {
  border-top: 0;
}

.ant-table-wrapper .ant-table-tbody > tr > td {
  /* border-bottom: 0; */
  border: 1px dashed #000;
  border-left: 0;
  background-color: transparent;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  position: relative;
  color: #000;
  font-weight: 600;
  text-align: start;
  background: transparent;
  border-bottom: 1.5px solid #000;
  transition: background 0.2s ease;
  width: 250px;
  font-family: Montserrat;
  text-align: center;
}

.ant-table-wrapper .ant-table-tbody > tr > td {
  position: relative;
  padding: 16px 16px;
  overflow-wrap: normal;
  font-family: Montserrat;
  text-align: center;
}
