.ant-modal-confirm .ant-modal-confirm-btns .ant-btn + .ant-btn {
  background-color: red;
}

.input-error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 2px;
}