.feature-title-style {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 28px;
  margin-bottom: 10px;
  color: black;
}

.box-features {
  position: relative;
  overflow: hidden;
  /* padding: 40px 30px 40px 30px; */
  background-color: #111111;
  color: #fff;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  margin-top: 40px;
  width: 100%;
}

.rotate-in-center {
  filter: var(--opacity-color);
}

.on-hover-img:hover {
  background-color: #111111;
}

.feacture-bg-top {
  position: absolute;
  right: -10px;
  top: 0px;
  width: 155px;
  height: 160px;
  transform: translate(80px, -80px);
  background-repeat: no-repeat;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  background-image: url("https://res.cloudinary.com/dsq5spft3/image/upload/v1690021843/new_pattern_21_new-1_nvh9kk.png");
}

#p1:hover #c1 {
  right: 0;
  transform: translate(0px, 0px);
  transition-delay: 300ms;
}

#p1:hover {
  background-color: var(--primary-color);
  color: #fff;
}

#p1:hover .rotate-in-center {
  filter: brightness(0) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%) sepia(0%) saturate(100%);
  -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

.feature-title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  hyphens: manual;
  line-height: 31.2px;
}

.feature-content {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
