.choose-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 10px;
  color: var(--white);
}

.choose-paragraph {
  color: rgb(180, 180, 180);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  overflow-wrap: break-word;
  text-align: start;
  text-rendering: optimizelegibility;
}

.choose-sub-para {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-wrap: break-word;
  text-align: start;
}

.img-line::before {
  content: "";
  height: 461px;
  width: 10px;
  background-color: #ff0336;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(174deg);
  transform: translateY(-50%) rotate(174deg);
  right: 0;
}

.rotate-in-diag-1:hover {
  -webkit-animation: rotate-in-diag-1 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: rotate-in-diag-1 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(152deg) brightness(103%) contrast(103%);
}

@-webkit-keyframes rotate-in-diag-1 {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, -360deg);
    transform: rotate3d(1, 1, 0, -360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
    transform: rotate3d(1, 1, 0, 0deg);
    opacity: 1;
  }
}
@keyframes rotate-in-diag-1 {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, -360deg);
    transform: rotate3d(1, 1, 0, -360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
    transform: rotate3d(1, 1, 0, 0deg);
    opacity: 1;
  }
}
